body{
	margin: 0;
	padding: 0;
}

.navbar .navbar-brand{
	font-size: 32px;
}
a{
	color: #61ce70;
}

.fade.show{
	background-color: rgba(0,0,0,0.75);
}
.modal-header, .modal-footer{
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-check, label{
	font-size: 12px;
	font-weight: 100;
	color: black;	
}
.modal-footer button{
	font-size: 16px;
}
.form-control, .is-focused .form-control{
	background-image: linear-gradient(to top, #61ce70 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
.form-check .form-check-input:checked+.form-check-sign .check{
	background-color: #61ce70;
}


element.style {
}
.card [class*="header-"], .card[class*="bg-"] {
    color: #fff;
}
.card .card-header-primary {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(156, 39, 176, 0.6);
}
.card .card-header-primary, .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, #4caf50, #4caf50);
}

.mainsection{
	margin-top: 90px;
}

.mainnav{
	height: 8vh;
	background-color: white;
}

.component{
	transition: all .5s;
	/* max-height: 210px; */
    overflow: hidden;
	margin-bottom: 15px;
	font-size: 1.2rem;
	border-radius: 5px;
	padding: 34px;
	box-shadow: .5px .5px 5px grey;
	animation: opacity .3s ease-in-out ;
}

.indexnumber{
	background-color:  #4caf50;
	/* margin: 12px; */
	padding-top: 10px;
	padding-left: -10px;
	padding-right: -10px;
	color: white;
	font: bold;
	border-radius: 5px;
}

.indexnumber1{
	
	/* margin: 12px; */
	padding-top: 10px;
	padding-left: -10px;
	padding-right: -10px;
	
}

.bodycenter{
	width: 93vw;
}

@media only screen and (max-width: 900px) {
	.component {
	font-size: 1em;
	margin-top: 40px;
	max-height: 80px;
	}
	.bodycenter{
		width: 87vw;
	}
  }

.cardanimation{
	animation: opacity .3s ease-in-out ;
}
 

  .btn.btn-primary {
    color: #fff;
    background-color: #66ad68;
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.btn.btn-primary:hover,.btn.btn-primary:active:hover{
	background-color: #4caf4fd3;
}

.para{
	font-size: .8em;
	font-weight: 400;
}

.para1{
	font-size: 0.85rem;
	font-weight: 400;
	border: 2px solid  #4caf50;
	padding: 5px;
	border-radius: 5px;
}

.para2{
	font-size: 1em;
	font-weight: 400;
}

.buttonpara{
	padding: 5px;
	font-size: 1.2rem;
	font-weight: 400;
	background-color: transparent;
	box-shadow: none;
	border: 2px solid #4caf50;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	animation: blinker 3s ease-in-out infinite;
}

@keyframes blinker{
	0%{
		background-color: none;
	}
	50%{
		background-color: #4caf50;
		
	}
	100%{
		background-color:none;
	}
}

.paracompany{
	font-size: 1.5rem;
	font-weight: 400;
	border: 2px solid #4caf50;
	padding: 10px;
	border-radius: 7px;
}

.card .card-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    background: linear-gradient(60deg, #4caf50, #4caf50);
}

.card .card-title:last-child {
    margin-bottom: 0;
    color: white;
    font-weight: 500;
}


@media only screen and (min-width: 300px) and (max-width: 700px) {
	.component {
	font-size: .9em;
	margin-bottom: 10px;
	max-height: 450px;
	line-height: 15px;
	}
	.bodycenter{
		width: 87vw;
	}
	.btn.btn-primary{
		font-size: .8em;
	}
	.para1{
		font-size: .9em;
		border: none;
		
		border-radius: 0px;
	}
	.bordercall{
		border:1.5px solid #4caf50;
		margin-bottom: 7px;
		border-radius: 5px;

	}
	.tablehead{
		display: none;
	}
	.buttonpara{
		font-size: .9em;
	}
	.paracompany{
		font-size: .9rem;
		
	}

	.mainsection{
		margin-top: 60px;
	}

  }

  .maintabs{
	  margin-top: 100px;
  }

  #estimateinfo{
	  display:block;
  }

  #Customerinfo{
	display:none;
  }

  #vendorinfo{
	display:none;
  }

  #newvendorinfo{
	display:none;
  }

  #transactiondetails{
	display:none;
  }

  #estimateinfo,#Customerinfo, #vendorinfo,#newvendorinfo,#transactiondetails{
	animation: opacity .3s ease-in-out ;
}

@keyframes opacity{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

.sidebarboundary{
	border: 5px solid #4caf50;
}

  .buttonmain{
	outline: none;
    background-color: transparent;
    font-size: 1.3em;
   border: none;
    color:#4caf50;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 10px;
	transition: background-color .3s ease-in-out;
	text-align: start
  }
  .buttonmain1:hover > .buttonmain{
	color: white;
	background-color: #4caf50;
  }

  .twentypxdown{
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #4caf50;
	padding: 5px;
	
}

.twentypxdown1{
	margin-top: 40px;
	margin-bottom: 10px;
	border: 2px solid #4caf50;
	padding: 5px;
	background-color: #4caf50;
	box-shadow: .5px 3px 5px grey;
	
}

.twentypxdown1 > p{
	color: white;
	font-weight: 400;
}


  



.list-group-item {
    display: block;
   
    
    padding: 1rem;
    line-height: 1;
}


  @media only screen and (min-width:760px) and (max-width: 1200px) {
	.component {
	font-size: 1.7em;

		margin-bottom: 10px;
	max-height: 630px;
	line-height: 27px;
	}
	.bodycenter{
		width: 87vw;
	}
	.btn.btn-primary{
		font-size: .8em;
	}
	.para1{
		font-size: 1.7em;

			border: none;
		
		border-radius: 0px;
	}
	.bordercall{
		border:1.5px solid #4caf50;
		margin-bottom: 7px;
		border-radius: 5px;

	}
	.tablehead{
		display: none;
	}
	.buttonpara{
		font-size: 1.7em;

		}
	.paracompany{
		font-size: 1.7em;
			
		
	}

	.mainsection{
		margin-top: 60px;
	}

  }


  #modelview{
	/* position: absolute;
	top: 0;
	left: 0;
	transform: translate(-30%,-15%); */
	  width: 100%;
	  height: auto;
	 border:none;
	  opacity: .8;
	  z-index: 10;
  }

  /* .modelform1{
	  opacity: 1;
	  margin-top:100px; 
  } */

  .formedit{
	display: none;
	z-index: 20;
  }

